[user]
	name = Mahdi Qazwini
	email = mqazwini@umich.edu
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/Desktop/schol/"]
    path = ~/Desktop/schol/.gitconfig
[init]
	defaultBranch = master
